<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Template/>
  <TotalTime>4</TotalTime>
  <Application>Rail wordx/0.0.1$Linux_X86_64</Application>
  <Pages>1</Pages>
  <Words>60</Words>
  <Characters>180</Characters>
  <CharactersWithSpaces>167</CharactersWithSpaces>
  <Paragraphs>12</Paragraphs>
</Properties>
